.filter-contaner{
    background-color: #d2d0fe;
    box-shadow: 5px -30px 60px rgba(0, 0, 0, 0.1);
  
}

.filter-tile{
    width: 100%;
    height: 60px;
 
    background-color: #ed5107;
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.divide{
    width: 100%;
    height: 1px;
    background-color: #fdecff;
    margin-top: 5px;
}

.filter-content{
}
