.filter-contaner {
  background-color: rgba(90, 61, 108,0.2);
  box-shadow: 5px -30px 60px rgba(0, 0, 0, 0.1);
}

.filter-tile {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  height: 60px;
  background-color: rgba(81, 44, 98,0.9);
  color: wheat;
  font-size: 25px;
  font-weight: 700;
}

.divide {
  width: 100% !important;
  height: 1px;
  background-color: #fdecff !important;
  margin-top: 5px;
}

.filter-content {
}
