.icon-style{
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.flex-content{
  float: left;
  margin-right: 30px;
}
.text-footer{
  font-size: 14px;
  font-weight: 500;
}
.icon-contact{
  font-size: 25px;
  margin-right: 20px;
  color: #ed5107 !important;
}
.text-end{
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
.margin-bottom-0{
margin-bottom: 0px;
}
.container-footer{
position: absolute;
bottom: 0%;

}