.card-container {
  margin-bottom: 30px;
}
.card-container:hover {
  -webkit-box-shadow: 11px 11px 11px -8px rgba(143, 135, 141, 1);
  -moz-box-shadow: 11px 11px 11px -8px rgba(143, 135, 141, 1);
  box-shadow: 11px 11px 11px -8px rgba(143, 135, 141, 1);

}
.card-container:hover >.action-item {
  display: block;
/* animation: visiable 0.5s linear ; */

}

.card-item-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.image-item {
  width: 100% !important;
  height: 100% !important;
  transition-duration: 0.5s;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Mozilla Firefox */
  -moz-transition-duration: 0.5s;
  /* Opera */
  -o-transition-duration: 0.5s;
  /* IE 9 */
  -ms-transition-duration: 0.5s;
}
.image-item:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  
}
.card-item-body {
  height: 150px;
}

.card-item-footer {
  background-color: rgba(81, 44, 98, 0.8);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 4px;
 
 
}
.add-to-cart{

  position: relative;
 
}
.action-item {
  height: 100%;
  /* display: none ; */
  position: absolute;
  right:20px;
  top: -20px;


}

.favorite-icon :hover {
  color: #f75f00;
  cursor: pointer;
}
.favorite-icon {
  color: #5E3D6E;
  font-size: 10px;
  position: absolute;
  right: 8px;

  font-size: 20px !important
}
.tilte{
  color: #5E3D6E;
  font-weight: 500;
}
.tilte:hover{
  color: #f75f00
}
.cart:hover{
  color: #f75f00 !important ;
  cursor: pointer;
}
@keyframes visiable{
  0% { transform: scale(0.5); }
  50% {transform: scale(0.8); }
  100% { transform: scale(1); }
}