.menu {
  display: flex;
  height: 80px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #f75f00;
  width: 85%;
  margin-top: 20px;
  position: fixed;
  z-index: 1000;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000 !important;
}

.menu-scroll {
  display: flex;
  height: 80px;
  background-color: #f75f00;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 0;
  position: fixed;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000 !important;
}
.menu-items {
  margin-right: 40px;
}

.menu-search {
  margin: 20px;
}

.menu-item {
  margin-right: 30px;
  color: beige;
  font-weight: 500;
  font-family: "Anton", sans-serif;
}

.menu-item:hover {
  text-decoration: none;
  color: #43ab92;
}
label:hover {
  cursor: pointer !important;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../../assets/image/banner-img.png");
  background-repeat: no-repeat;
}

#sub-menu {
  margin-top: 25px !important;
}
.sub-item:hover {
  background-color: #f75f00 !important;
}
.sub-item {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.search {
  clear: both;
  position: fixed;
  margin-top: 100px;
  width: 85%;
  justify-content: flex-end;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-croll {
  clear: both;
  position: fixed;
  margin-top: 80px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000 !important;
}
#search_input {
  background: -webkit-linear-gradient(
    270deg,
    #ffba00 0%,
    #ff6c00 100%
  ) !important;
  background: -moz-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%) !important;
  background: -o-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%) !important;
  background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%) !important;
  border: none !important;
}
.logo {
  /* display: flex;
    position: relative;
    left: -500px;
    color: black;
    font-weight: 500;
     font-family: 'Anton', sans-serif;
    font-size: 20px; */
}

.menu-dropdown {
  margin-left: 20px;
  margin-right: 20px;
}
.menu-dropdown-item {
  color: #ff6f00;
}

.control-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
